
body{
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    
}

h2{
    font-family: 'Big Shoulders display', cursive;
    font-weight: 700;
  

}

button{
    border: none;
    border-radius: 10px;
    padding: 8px 20px 8px 20px;
}

.container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
   
}

main.lose{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 10em;

}

.sedan{
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius:9px ;
    border-top-left-radius:9px ;
    padding: 2em;
    color: #fff;
    
}
.suv{

    background-color:hsl(184, 100%, 22%);
    padding: 2em;
    color: #fff;
}
.luxury{
    
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius:9px ;
    border-top-right-radius:9px ;
    padding: 2em;
    color: #fff;
    
}

button{
    margin-top: 5em;
}
.sedan button:hover{
    border: 2px solid #fff;
    background-color: hsl(31, 77%, 52%);
    color: #fff;
}


.suv button:hover{
    border: 2px solid #fff;
    background-color:hsl(184, 100%, 22%);
    color: #fff;
}

.luxury button:hover{
    border: 2px solid #fff;
    background-color: hsl(179, 100%, 13%);
    color: #fff;
}


.sedan button{
    color: hsl(31, 77%, 52%);
    background-color:  hsl(0, 0%, 95%);

    
}
.suv button{
    color:hsl(184, 100%, 22%);
    background-color:  hsl(0, 0%, 95%);
}
.luxury button{
    color: hsl(179, 100%, 13%);
    background-color:  hsl(0, 0%, 95%);
}



main.win{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto;
    gap:10px;
    padding: 15px;
    
    
}

.win.div{
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
    
}

.container2{
    width: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    margin-top: 40em;
}

.upper-left{
    background-color: red;
   grid-column: 1 / 5;
   grid-row: 1/25;
  
    
}
.upper-right{
    background-color:#764AF1;
    grid-column:5/7 ;
    grid-row: 1/25;

}

.bottom-left{
    background-color: #FF06B7;
    grid-column:1/4;
grid-row:25/52;

    
}

.bottom-first-right{
 background-color: #3A3845;
 grid-column:4/7;
 grid-row: 25/39;
 

}

.bottom-second-right{
    background-color: #F1D00A;
    grid-column:4/7;
     grid-row: 39/52;

    
}
          


@media screen and (max-width: 375px){
    .container{
        width: 100%;
        margin: 0;
    }
    main{
        flex-direction: column;
        margin: 0px;
    }
    .sedan{
        width: 100%;
        margin-top: 0.3em;
    }
    .suv{
        width: 100%;
        margin-top: 0.3em;
    }
    .luxury{
        width: 100%;
        margin-top: 0.3em;
    }
    
}